@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fff3e3;
  /* background-color: #f5eee7; */
  background-size: 10%;
}

#page-content {
  margin: 0 auto;
  padding: 0px !important;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(122, 50, 8, 0.2), rgba(126, 78, 51, 0.1)), url(/assets/thebarbershop-light-bg.webp);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.page-view {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'SofiaSans';
  src: url('/assets/fonts/SofiaSans-Regular.ttf') format('truetype');
}

body.page-is-transitioning #page-content {
  opacity: 0;
}

li::marker {
  color: #bf7e36;
  font-size: 1.5rem !important;
  content: "• ";
}

div,
p {
  font-family: 'SofiaSans', sans-serif !important;
  color: #07111c;
  font-weight: 300;
  letter-spacing: 0.04rem;
  word-spacing: 0.01rem;
  font-size: 19px;
  line-height: 2rem;
  text-align: left;
}

@media (max-width: 900px) {

  div,
  p {
    letter-spacing: 0.04rem;
    word-spacing: 0.01rem;
    font-size: 17px;
    line-height: 1.8rem;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #07111c;
  text-align: center;
}

@media (min-width: 900px) {
  h4 {
    line-height: 40px !important;
  }
}

@media (max-width: 900px) {
  h3 {
    font-size: 24px !important;
    line-height: 35px !important;
    font-weight: 900;
    letter-spacing: 0px;
    margin: 0px 0px 20px 0px !important;
  }
}

@media (max-width: 900px) {
  h2 {
    padding: 0rem 1.25rem;
    font-size: 26px !important;
    line-height: 45px !important;
    font-weight: 900;
    letter-spacing: 0px;
    margin: 0px 0px 40px 0px !important;
  }
}

h1 {
  text-transform: capitalize;
  margin: 3rem 0;
  font-weight: 600 !important;
  font-size: 115px;
  line-height: 136px;
  letter-spacing: 0.6px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px !important;
    line-height: 80px !important;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 52px !important;
    line-height: 70px !important;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 50px !important;
    line-height: 70px !important;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0px 0px 60px 0px;
  letter-spacing: -0.02rem;
  line-height: 3.5rem;
}

h3 {
  text-transform: none;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

html::-webkit-scrollbar {
  width: 11px;
  background-color: #2b2b2b;
}

html::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.hamburger .line {
  width: 100%;
  border-radius: 20px;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.4s ease;
}

.hamburger .line:nth-child(1) {
  transform-origin: top left;
}

.hamburger .line:nth-child(2) {
  opacity: 1;
}

.hamburger .line:nth-child(3) {
  transform-origin: bottom left;
}

.hamburger .open:nth-child(1) {
  transform: rotate(41deg);
}

.hamburger .open:nth-child(2) {
  opacity: 0;
}

.hamburger .open:nth-child(3) {
  transform: rotate(-41deg);
}

@media (min-width: 900px) {
  .header-border {
    border-bottom-color: rgba(255, 255, 255, 1) !important;
  }
}

[data-observed] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.animate-slide {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.6s ease, transform 0.6s ease-in-out;
}

.animate-slide.animate {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 1900px) {
  .container-in-services {
    gap: 17rem;
  }
}

@media (max-width: 640px) {
  .home-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)), url('/assets/za-nas/the-barber-shop-sofia-2_result_result.webp') !important;
  }
}

@media (min-width: 640px) {
  .kris-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('/assets/kris/барбър-крис-индивидуална-мобилно.webp') !important;
  }
}

@media (min-width: 640px) {
  .za-nas-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/assets/za-nas/бръснарски-салон-софия-център.jpg') !important;
    background-position: left 100% bottom 10% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .karieri-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/karieri/екип-бръснарница-софия.webp') !important;
  }
}

@media (min-width: 640px) {
  .mario-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/mario/барбър-марио-индивидуална.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .blago-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/blago/барбър-благо-индивидуална.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .denis-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/denis/барбър-денис-индивидуална.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .detsko-pod-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/detsko-podstrigvane-momche/детско-подстригване-момче-1.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .brasnene-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/klasichesko-mokro-brasnene/професионално-мокро-бръснене-1.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .podstrigvane-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/mazhko-podstrigvane/мъжко-подстригване-с-машинка.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .kombo-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/podstrigvane-i-oformiane-na-brada/подстригване-и-оформяне-на-брада-1.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .brada-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/assets/oformiane-na-brada/оформяне-на-мъжка-брада-2.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .tonirane-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('/assets/tonirane-na-kosa/тониране-на-сиви-коси-в-барбър-шоп.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .bashta-i-sin-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('/assets/bashta-i-sin/детско-и-мъжко-подстригване.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

@media (min-width: 640px) {
  .brasnene-na-glava-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('/assets/brasnene-na-glava-s-brasnach/бръснене-на-глава-с-бръснач-в-barber-shop-sofia.webp') !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

.input-highlight input::placeholder {
  color: white;
}

.input-highlight::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #eba65b 0%, #bf7e36 100%);
  transition: width 0.4s ease;
}

.input-highlight:hover::after,
.input-highlight:focus-within::after {
  width: 100%;
}

.progress-bar-contacts-form-span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

















.resizer:after {
  background: #8f1828;
  content: '\21FF';
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  margin: 0 0 0 -23px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
}